.parallax {
    /* The image used */

    /* Full height */
    height: 70%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.parallax .title {
    position: absolute;
    background: rgba(102, 51, 51, 0.8); /* Black background with transparency */
    color: sienna;
    width: 400px;
    padding: 2px 0;
    left: 50%;
    top: 30%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
}

.title p {
font-family: 'CENTURY GOTHIC';
font-size: 42px;
text-align: center;
text-transform: uppercase;
color: #FFF;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.city {
  height:500px;
  background-color:white;
  padding-top: 50px

}

blockquote {
  font-size: 16px;
  font-family: courier;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 10px
}

.city p {
  font-size: 20px;
  color: grey;
  font-family: sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.attractions {
  height: 2500px;
  background-color: black;
  padding-top: 20px;
}

.attractions h3 {
  font-family: 'CENTURY GOTHIC';
  font-size: 42px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.attractions p {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  padding-left: 10%;
  padding-right: 5%;
  text-indent: 3em
}

.attractions a:link {
    color: green;
    font-family: sans-serif;
    font-size: 20px
    background-color: transparent;
    text-decoration: none;
}

.attractions a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

.attractions a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

.attractions a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* Style the button and place it in the middle of the container/image */
.button {
background: #3498db;
width: 180px;
padding: 4px 0;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
border-radius: 3px;
}
.button p {
font-family: 'Roboto';
text-align: center;
text-transform: uppercase;
color: #FFF;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.button:hover {
cursor: pointer;
}

.button:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 10%;
border-radius: 50%;
background-color: #927608;
opacity: 0.4;
bottom: -30px;
}


body {
  margin: 0px
  }

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 60
  }

p {
    color: grey;
}
